<!DOCTYPE html>
<html>
<head>
  <title>Politihub</title>
  <link rel="stylesheet" href="/css/bootstrap.css" />
  <link rel="stylesheet" href="/css/stylelogin.css" />
</head>
<body>

  <div class="container-fluid">

    <div class="header clearfix">
      <div class="row">
          <div class="col-md-9 title">
            <img src="http://flaglane.com/download/california-flag/california-flag-medium.gif" class="logo" /> PolitiHub
          </div>
          <div class="col-md-3 title">
                {{#if user}}
                <ul class="nav nav-pills pull-right ElmasA">
                      <li><button type="button" class="btn personal" role="presentation"><a href="/users/logout">Logout</a></button></li>
                </ul>
                {{else}}
                <ul class="nav nav-pills pull-right">
                    <li><button type="button" class="btn personal" role="presentation"><a href="/users/login">Login</a></button></li>
                    <li><button type="button" class="btn personal" role="presentation"><a href="/users/register">Register</a></button></li>
                </ul>
                {{/if}}
          </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        {{#if success_msg}}
          <div class="alert alert-success">{{success_msg}}</div>
        {{/if}}
        {{#if error_msg}}
          <div class="alert alert-danger">{{error_msg}}</div>
        {{/if}}
        {{#if error}}
          <div class="alert alert-danger">{{error}}</div>
        {{/if}}
        {{{body}}}
      </div>
    </div>

  </div> 
</body>
</html>
